.app-ui-page-container {
    padding: 10%; 
}

.app-ui-search-input {
    border: 2px lightgrey solid;
    height: 2rem;
}

.app-ui-home-business-info {
    font-weight: 500;
}
@media (min-width: 601px) {
    .app-ui-home-controls {
      width: 30%;
    }
}

@media (max-width: 600px) {
    .app-ui-home-controls {
      width: 100%;
    }

}